<div id="block-category-{{uniqid}}" class="block-category" data-region="category">
    <div class="tab-content content-centred">
        <div role="tabpanel" class="tab-pane fade in active" id="category_courses_view">
            {{#coursesview}}
                {{> block_category/courses-view }}
            {{/coursesview}}
        </div>
    </div>
</div>
{{#js}}
require(['jquery', 'block_category/tab_preferences'], function($, TabPreferences) {
    var root = $('#block-category-view-choices-{{uniqid}}');
    TabPreferences.registerEventListeners(root);
});
{{/js}}
