<div id="courses-view-{{uniqid}}" data-region="courses-view">
    {{#hascourses}}
    <div class="row text-center">
        <div class="btn-group m-b-1" role="group" data-toggle="btns">
            <a class="btn btn-default active" href="#category_courses_view_in_progress" data-toggle="tab">
                {{#str}} inprogress, block_category {{/str}}
            </a>
            <a class="btn btn-default" href="#category_courses_view_future" data-toggle="tab">
                {{#str}} future, block_category {{/str}}
            </a>
            <a class="btn btn-default" href="#category_courses_view_past" data-toggle="tab">
                {{#str}} past, block_category {{/str}}
            </a>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="category_courses_view_in_progress">
            {{#inprogress}}
                {{< block_category/courses-view-by-status }}
                    {{$id}}courses-view-in-progress{{/id}}
                    {{$status}}1{{/status}}
                    {{$pagingbarid}}pb-for-in-progress{{/pagingbarid}}
                    {{$pagingcontentid}}pc-for-in-progress{{/pagingcontentid}}
                {{/ block_category/courses-view-by-status }}
            {{/inprogress}}
            {{^inprogress}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursesinprogress, block_category {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursesinprogress, block_category {{/str}}</p>
                </div>
            {{/inprogress}}
        </div>
        <div class="tab-pane fade" id="category_courses_view_future">
            {{#future}}
                {{< block_category/courses-view-by-status }}
                    {{$id}}courses-view-future{{/id}}
                    {{$status}}2{{/status}}
                    {{$pagingbarid}}pb-for-future{{/pagingbarid}}
                    {{$pagingcontentid}}pc-for-in-progress{{/pagingcontentid}}
                {{/ block_category/courses-view-by-status }}
            {{/future}}
            {{^future}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursesfuture, block_category {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursesfuture, block_category {{/str}}</p>
                </div>
            {{/future}}
        </div>
        <div class="tab-pane fade" id="category_courses_view_past">
            {{#past}}
                {{< block_category/courses-view-by-status }}
                    {{$id}}courses-view-past{{/id}}
                    {{$status}}0{{/status}}
                    {{$pagingbarid}}pb-for-past{{/pagingbarid}}
                    {{$pagingcontentid}}pc-for-in-progress{{/pagingcontentid}}
                {{/ block_category/courses-view-by-status }}
            {{/past}}
            {{^past}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursespast, block_category {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursespast, block_category {{/str}}</p>
                </div>
            {{/past}}
        </div>
    </div>
    {{/hascourses}}
    {{^hascourses}}
    <div class="text-xs-center text-center m-t-3">
        <img class="empty-placeholder-image-lg"
             src="{{urls.nocourses}}"
             alt="{{#str}} nocourses, block_category {{/str}}">
        <p class="text-muted m-t-1">{{#str}} nocourses, block_category {{/str}}</p>
    </div>
    {{/hascourses}}
</div>
{{#js}}
require(['jquery', 'core/custom_interaction_events'], function($, customEvents) {
    var root = $('#courses-view-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function(e) {
        root.find('.btn.active').removeClass('active');
        $(e.target).closest('.btn').addClass('active');
    });
});
{{/js}}
