<div class="span4">
    <div class="well well-small">
        <a href="{{viewurl}}">
            <div class="categoryimg m-b-1 {{classes}}" style='background-image: url("{{{courseimage}}}");'>
            </div>
        </a>
        <div class="course-info-container" id="course-info-container-{{id}}">
            <div class="media">
                <div class="pull-left">
                    <div class="media-object">
                        {{> block_category/progress-chart}}
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a>
                    </h4>
                </div>
            </div>
            <p class="text-muted">
                {{#shortentext}} 140, {{{summary}}}{{/shortentext}}
            </p>
        </div>
    </div>
</div>
